.navbar {
    background-color: black;

    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed; 
    top: 0;
    z-index: 1000; 
}

#logo-navbar {
    height: 10vh;
    margin-left: 2vi;
}

.menu-navbar {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    display: flex;
    gap: 7vh;
}

.itens-navbar {
    color: white;
    letter-spacing: .5vh;
    text-decoration: none;
    border-bottom: 0.1vh solid;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.itens-navbar:hover {
    font-size: 2.7vh;
    color: #E31937;
}

.contador-pontos {
    font-family: "Play", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 4vh;
    margin-right: 2vi;
    display: flex;
    align-items: center;
}

#point-icon {
    margin-right: 1vi;
    height: 3.5vh;
} 

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.get-points {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    text-align: center;
}

.main-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 6vh;
    padding: 1vh 5vh;
    margin-top: 2vh;
    margin-left: 2vh;
    color: #E31937;
    border-bottom: 0.8vh solid #E31937;
    letter-spacing: .5vh;
}

.main-btn-get-points {
    padding: 10vh;
    display: flex;
    gap: 10vh;
}

.btn-get-points {
    padding: 20vh 30vh;
    font-family: "Play", sans-serif;
    color: white;
    background-color: #E31937;
    border-radius: 1vh;
    font-weight: 400;
    font-size: 3vh;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    transition: font-size 0.3s ease, padding 0.3s ease;
    
}

.btn-get-points:hover {
    font-size: 3.2vh;
    padding: 22vh 33vh;
    cursor: pointer;
}

.buy-powers {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    text-align: center;
}

.main-buy-powers {
    padding: 10vh;
    display: flex;
    gap: 10vh;
}

.btn-buy-powers {
    padding: 20vh 30vh;
    font-family: "Play", sans-serif;
    color: white;
    background-color: #E31937;
    border-radius: 1vh;
    font-weight: 400;
    font-size: 3vh;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
    transition: font-size 0.3s ease, padding 0.3s ease;
}

.btn-buy-powers:hover {
    font-size: 3.2vh;
    padding: 22vh 33vh;
    cursor: pointer;
}

.img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.footer {
    background-color: black;

    height: 45vh;
    width: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.footer-menu {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7vh;
}

.itens-footer {
    color: white;
    letter-spacing: .5vh;
    text-decoration: none;
    border-bottom: 0.1vh solid;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.itens-footer:hover {
    font-size: 2.7vh;
    color: #E31937;
}

#vv-copyright {
    font-family: "Play", sans-serif;
    font-weight: 400;
    color: gray ;
    padding: 1vh;
}


